/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
wsl/*
*.patch
.idea/
GoOnchain.iml
.log
.DS_Store
*.orig
*.rej
vendor/*
!vendor/github.com/ontio/ontology-crypto/*
Chain/*
/config/*
nodectl
ontology
wallet.dat
cscope*
*.exe
**/*.log
**/*.txt
neosnapshot/*
glide.lock
*.iml
docker/payload
peers.recent
